extends ../layout

append head
  link(rel='stylesheet', href='/stylesheets/horizontallist.css')

block content
  div#content
  ul.horizontal
    - friends.forEach(function(friend) {
      li.horizontal
        a(href="/accounts/" + encodeURIComponent(friend.friender._id) + "/contacts") 
          span= (friend.friender.name.first + " " + friend.friender.name.last)
        br
        span= friend.friender.email
      li.horizontal
        a(href="/accounts/" + encodeURIComponent(friend.friend._id) + "/contacts") 
          span= (friend.friend.name.first + " " + friend.friend.name.last)
        br
        span= friend.friend.email
      li.horizontal= friend.added
      li.horizontal= friend.updated
    - });

             